#app2 {}

#app2 .tab-bar {
    border: 2px solid black;
    display: flex;
}

#app2 .tab-bar>li {
    width: 50%;
}

#app2 .tab-bar>li.selected {
    background-color: gray;
    color: white;
}

#app2 .tab-content>li {
    display: none;
}

#app2 .tab-content>li.active {
    display: block;
}